<div *ngIf="fun==true">
    <div class="row">
        <div class="col-sm-6">
    <ul class="list-group">
       <li class="list-group-item">Register No:<span style="padding-left: 30px;"> {{user.registerNo}}</span></li>
       <li class="list-group-item">Firstname:<span style="padding-left: 40px;"> {{user.firstName}}</span></li>
       <li class="list-group-item">Lastname:<span style="padding-left: 40px;"> {{user.lastName}}</span></li>
       <li class="list-group-item">Date of Birth:<span style="padding-left: 20px;"> {{user.dateOfBirth}}</span></li>
    </ul>
       </div>
       <div class="col-sm-6">
    <ul class="list-group">
       <li class="list-group-item">Mark-1:<span style="padding-left: 60px;"> {{user.mark1}}</span></li>
       <li class="list-group-item">Mark-2:<span style="padding-left: 60px;"> {{user.mark2}}</span></li>
       <li class="list-group-item">Mark-3:<span style="padding-left: 60px;"> {{user.mark3}}</span></li>
    </ul>
</div>
    </div>
</div>